body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
  background: #FFF;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(52, 73, 94, 1) 100%);
}

.quiz-box {
  background-color: #34495e62;
  padding: 30px;
  border-radius: 30px;
  width: 900px;
  height: 800px;
  margin: auto;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee58;
}

.question {
  color: #f39c12;
  font-size: 30px;
  letter-spacing: .8px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.option {
  display: inline;
}


.answer {
  background: #ffffff2f;
  padding: 5px;
  border-radius: 5px;
}
label {
  font-size: 18px;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  color: black;
  background-color: white;

  border-radius: 8px;
  padding: 5px;
  text-align: right;
  width: max-content;
  padding: 10px;

}

.timer-box h2 {
  margin: 0;
}

.timer-box img {
  margin-right: 5px;
}

h1 {
  color: #f39c12;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;

}

.next-btn {

  background-color: #f39c12;
  color: white;
  padding: 10px 44px;
  width: 100%;
  border: none;
  border-radius: 45px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

button:hover {
  background-color: #e67e22;

}

button:disabled {
  background-color: white;

  color: #2c3e50;
}